.message-input-container {
    padding: 1.05rem 1.5rem;
    position: absolute;
    bottom: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .input-container {
        display: flex;
        align-items: center;
        width: calc(100% - 5rem);
        background-color: var(--white);
        border-radius: 2rem;
        box-shadow: 0 0 6px rgba(0, 0, 0, 0.3);
        overflow: hidden;

        input {
            background-color: var(--white);
            width: calc(100% - 4rem);
            padding: 1.15rem 1.5rem;
            border: none;
            outline: none;
            font-size: 1rem;
        }

        .attach-file-icon {
            width: 2rem;
            margin-left: 1rem;
            height: 2rem;
            display: flex;
            align-items: center;
            justify-content: center;
            transform: rotateZ(-135deg);

            .MuiSvgIcon-root {
                width: 100%;
                color: var(--black);
                cursor: pointer;
            }
        }

        .check-circle-icon {
            width: 2rem;
            margin-left: 1rem;
            height: 2rem;
            display: flex;
            align-items: center;
            justify-content: center;

            .MuiSvgIcon-root {
                width: 100%;
                color: var(--green-4);
                cursor: pointer;
            }
        }
    }

    .send-icon {
        line-height: 0;
        background-color: var(--green-4);
        width: 3rem;
        height: 3rem;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        box-shadow: 0 0 6px rgba(0, 0, 0, 0.3);
        cursor: pointer;

        .MuiSvgIcon-root {
            font-size: 1.35rem;
            color: var(--white);
        }
    }

    &.dark-mode {
        .input-container {
            background-color: var(--dark);
            box-shadow: 0 0 6px rgba(255, 255, 255, 0.7);

            input {
                background-color: var(--dark);
                color: var(--white);
    
                &::placeholder {
                    color: var(--grey-5);
                }
            }

            .attach-file-icon {
                .MuiSvgIcon-root {
                    color: var(--grey-7);
                }
            }
    
            .check-circle-icon {
                .MuiSvgIcon-root {
                    color: var(--green-4);
                }
            }
        }

        .send-icon {
            box-shadow: none;
        }
    }
}
