.app-main {
    background-color: var(--white);
    color: black;
    width: calc(100% - 22.5%);
    height: 100%;
    border-radius: 0.5rem;
    overflow: hidden;

    @media screen and (max-width: 1440px) {
        width: calc(100% - 24%);
    }

    @media screen and (max-width: 1024px) {
        width: calc(100% - 27%);
    }
}
