.form-group {
    display: flex;
    flex-direction: column;
    gap: 0.65rem;

    .form-input-label {
        color: var(--dark);
        font-size: 0.85rem;
        font-weight: 700;

        span {
            color: var(--red);
        }

        &.dark {
            color: var(--white);
        }
    }

    .form-input {
        font-size: 0.95rem;
        padding: 0.85rem;
        outline: none;
        border: 1px solid var(--grey-4);
        border-radius: 0.25rem;
        color: var(--black);

        &::placeholder {
            font-weight: 500;
            color: var(--grey-5);
        }

        &:focus {
            outline: 1px solid black;
        }

        &.dark {
            color: white;
            background-color: var(--black);
            border: 1px solid var(--grey-4);

            &::placeholder {
                font-weight: 500;
                color: var(--grey-4);
            }

            &:focus {
                outline: 2px solid var(--white);
            }
        }

        &.error {
            border: 1px solid var(--red);

            &:focus {
                outline: 2px solid var(--red);
            }
        }
    }

    .image-input-group{
        display: flex;
        align-items: center;

        label {
            padding: 0.5rem;
            display: flex;
            align-items: center;
            gap: 0.8rem;
            cursor: pointer;

            .MuiSvgIcon-root {
                color: var(--green-1);
            }

            span {
                font-size: 0.85rem;
                font-weight: 500;
                color: var(--green-1);
            }
        }

        .image-input {
            display: none;
        }

        span {
            margin-left: 1rem;
            font-size: 0.85rem;
            color: var(--red);
        }
    }

    .error-text {
        font-size: 0.85rem;
        color: var(--red);
    }
}
